<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ElFas</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="top">
    <div class="top-left">
  <h1>Elfas Beauty Company</h1>
      </div>
    <div class="top-right">
  <button class="one">Home</button>
  <button class="two">About</button>
  <button class="three">Gallery</button>
  <button class="four">Register</button>
  <button class="five">Login</button>
      </div>
    </div>
  <hr>
  <div class="bottom">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    At consectetur distinctio dolor, eaque eos facere facilis id illum in
    magni nesciunt placeat provident! Aut consequuntur ducimus et maiores temporibus vitae.</p>
    <div class="center">
  <img src="../static/images/images%20(1).jpeg" alt="no image">
  <img src="../static/images/images%20(2).jpeg" alt="no image">
      </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi dicta
    dignissimos doloribus esse eveniet ex in magni nesciunt nihil numquam obcaecati pariatur
    possimus, quia tempora totam veniam? Magnam, rem.</p>
    </div>
</body>
</html>