<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>ALLIANCE GIRLS' HIGH SCHOOL</h1>
        <button class="a">Home</button>
        <button class="b">Login</button>
        <button class="c">Register</button>
        <button class="d">scholarships</button>
        <button class="e">co-curricular activities</button>
<hr>
    <h3 class="one">Principal's remarks</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut debitis ducimus ea
            laudantium minus nihil possimus quod, sequi! Dolorum error eveniet magnam quo repellat
            reprehenderit voluptas? Commodi, incidunt ipsum!</p>
    <h3 class="two">Deputy principal's remarks</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dicta,
            distinctio dolor dolores, ducimus eos eum expedita facilis illo impedit
            incidunt ipsam iste nostrum optio quisquam tenetur velit veritatis vitae?</p>
    <img class="z" src="../static/images/img1.jpg" alt="no image">
    <img class="y" src="../static/images/img2.jpg" alt="no image">
    <img class="x" src="../static/images/img3.jpg" alt="no image">
    <img class="w" src="../static/images/img4.jpg" alt="no image">
    <img class="v" src="../static/images/img5.jpg" alt="no image">
</body>
</html>