<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brand Design</title>
    <link rel="stylesheet" href="../static/css/designing.css">
</head>
<body>
<div class="top-design">
    <div class="top-design-left">
        <h3>BrandName</h3>
        <button>Home</button>
        <button>Product</button>
        <button>Pricing</button>
        <button>Contact</button>
    </div>
    <div class="top-design-right">
        <button class="top-design-right-btn-one">Login </button>
        <button class="top-design-right-btn-two">Join us</button>
    </div>
</div>
<div class="middle-design">
    <h5>Welcome</h5>
    <h1>Selling on the <br>internet like a pro</h1>
    <p>We know how large objects will act, but things on a <br> small scale just do not act that way</p>
    <div class="middle-design-btn">
    <button class="btn-one">Get Quotes Here</button>
    <button class="btn-two">Learn More</button>
    </div>
</div>
<div class="bottom-design">
    <div class="bottom-design-left">
        <img src="../static/images/images%20(2).jpeg" alt="no image">
    </div>
    <div class="bottom-design-mid">
        <img src="../static/images/images%20(1).jpeg" alt="no image">
    </div>
    <div class="bottom-design-right">
        <img src="../static/images/download%20(2).jpeg" alt="no image">
    </div>
</div>
</body>
</html>