<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design Two</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="design-two-body">
  <div class="new-navigation-div">
    <div class="new-left-navigation">
      <h1>Florence</h1>
    </div>
    <div class="new-right-navigation">
      <button>Home</button>
      <button>About</button>
      <button>Gallery</button>
      <button>Register</button>
      <button>Login</button>
      <img src="../static/images/download.jpeg" alt="no images">
    </div>

  </div>
  <div class="new-content-wrapper">
    <div class="new-left-wrapper">
      <h1>MAKE <span>HTML</span> & <span>CSS</span> <br>WEBSITE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aperiam,
        corporis deleniti dolorum eius esse et expedita labore libero minus nisi possimus
        reiciendis repellendus sunt ut vero voluptatem voluptatibus.</p>
      <button class="btn-signup">Signup</button>
      <button class="btn-sign in">Signin</button>
    </div>
    <div class="new-right-wrapper">

    </div>
  </div>
</body>
</html>