<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design One</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="div-one">
      <img src="../static/images/img4.jpg" alt="no image">
  </div>
  <div class="div-two">
      <div class="div-two-card">
          <img src="../static/images/img1.jpg" alt="no image">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              architecto blanditiis consequatur, cumque dolore doloremque ea est eveniet fuga
              harum maiores nulla quas quibusdam, repellendus suscipit! Alias culpa minus modi.</p>
      </div>
      <div class="div-two-card">
          <img src="../static/images/img2.jpg" alt="no image">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum
              delectus ipsa ratione sit. Aperiam corporis deleniti eaque exercitationem,
              illum incidunt laudantium, libero nisi optio similique soluta tempore, temporibus voluptates!</p>
      </div>
      <div class="div-two-card" >
          <img src="../static/images/img3.jpg" alt="no image">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Animi architecto asperiores beatae commodi debitis est excepturi
              explicabo illo laboriosam maiores perspiciatis, possimus reprehenderit,
              sunt? Ad harum iure pariatur qui unde.</p>
      </div>
      <div class="div-two-card">
          <img src="../static/images/img4.jpg" alt="no image">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
              aliquid asperiores et in ipsam praesentium quas quidem quo. Autem hic quos vero!
              Amet blanditiis cum earum eum expedita nihil vitae!</p>
      </div>
  </div>
  <div class="div-three">
      <div class="div-three-card">
          <img src="../static/images/images%20(1).jpeg" alt="no image">
      </div>
      <div class="div-three-card">
          <img src="../static/images/images%20(2).jpeg" alt="no image">
      </div>
      <div class="div-three-card-one">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem dolorum error est
              expedita fugiat incidunt ipsum laboriosam laudantium, maiores natus, omnis. Aperiam
              commodi molestias optio voluptate! Autem minima, recusandae.</p>
      </div>
  </div>
</body>
</html>