<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design Two</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="navigation-div">
            <div class="left-navigation">
                <h4>eLearning</h4>
            </div>
            <div class="right-navigation">
                <button class="b-one">Home</button>
                <button class="b-one">About</button>
                <button class="b-one">Gallery</button>
                <button class="b-one" >Register</button>
                <button class="b-one">Login</button>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="wrapper-left">
                <h1>LEARNING, QUESTIONS & ANSWERS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus esse et
                    inventore itaque, laboriosam, maxime modi, molestiae nemo obcaecati quae quisquam
                    quos reiciendis rem rerum sunt unde veritatis. Aut.</p>
                <button class="btn">sign in</button>
                <button class="btn">login</button>
            </div>
            <div class="wrapper-right"></div>
        </div>
    </div>
</body>
</html>