<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top">
    <h1>Cities</h1>
</div>
<div class="mid">
    <div class="mid-left">
        <ol>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ol>
    </div>
    <div class="mid-right">
        <h1>London</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid corporis doloremque explicabo impedit, non perspiciatis
            quam quia sint veniam voluptatibus. A atque doloribus nemo
            odio officia quo vero. Omnis, placeat?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at
            blanditiis commodi, corporis doloremque eum facilis iusto mollitia, nisi officiis
            porro reiciendis soluta unde. Aut explicabo perspiciatis possimus ullam voluptatem?</p>
    </div>
</div>
<div class="footer">
    <h5>Footer</h5>
</div>
</body>
</html>