<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Design</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="content">
        <div class="top-class-div">
            <div class="top-left">
                <h5>My HTML File</h5>
            </div>
            <div class="top-right">
            <button>Home</button>
            <button>About</button>
            <button>Gallery</button>
            <button>Register</button>
            <button>Login</button>
                </div>
            </div>
    <div class="middle-class-div">
        <div class="mid-left-div">
        <h1>ADMIRE MY HTML WEBSITE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi
                aperiam beatae cumque deleniti dicta itaque laudantium officiis qui voluptas?
                Ad consectetur deserunt enim ex, harum inventore quod veritatis voluptates.</p>
            <button>signup</button>
            <button>sign in</button>
        </div>
        <div class="mid-right-div"></div>
    </div>
    </div>
    <div class="bottom-class-div">
        <h3>we've got what you need</h3>
        <h6>hello</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt dicta
            eos error et explicabo, labore libero magnam maiores <br> nulla odit, perspiciatis
            quae quisquam, soluta tempore unde ut vero voluptatibus.</p>
        <button>help</button>
    </div>
</body>
</html>