<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top">
  <img class="one" src="../static/images/img6.png" alt="no image">
</div>
<div class="mid">
  <div>
    <img src="../static/images/img1.jpg" alt="no image">
    <p class="img">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Assumenda delectus eos expedita facere maiores odit repellendus ullam.
      Asperiores delectus dolor fugit maiores minima nam officia recusandae.
      Excepturi mollitia quia reiciendis?</p>
    <p class="img">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, magnam ullam.
      Amet blanditiis dignissimos dolores eaque enim eveniet, sint! Cum ducimus esse et ex
      magnam maiores, optio tempora tempore voluptate.</p>
  </div>
  <div>
    <img src="../static/images/img2.jpg" alt="no image"></div>
  <p class="image">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut autem dolore
    dolorum eius eveniet iste laboriosam nemo, nostrum optio pariatur, quia quidem quo
    repudiandae saepe temporibus totam, vitae. Fugiat!</p>
  <div>
    <img src="../static/images/img3.jpg" alt="no image">
    <p class="pic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
      cumque debitis eius facilis inventore molestias quos totam vel, vero?
      Adipisci ea itaque maxime nam nemo quam vitae! Ad, quasi, qui.</p>
  </div>
  <div>
    <img src="../static/images/img4.jpg" alt="no image">
    <p class="photo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque,
      cumque ea eius esse exercitationem illo minus nam, nulla quasi quibusdam soluta suscipit
      tempora vitae voluptate! Eos, est hic. Consectetur!</p>
  </div>
</div>
<div class="bottom"></div>

</body>
</html>