<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!--    Start of JS connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--    End of JS connection-->
<!--    Start of CSS connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
<!--    End of CSS connection-->
</head>
<body>
    <section>
        <div class="top-most">
            <div class="top-most-left">
                <h2>Bloom</h2>
            </div>
            <div class="top-most-right">
                <button>Home</button>
                <button>About Us</button>
                <button>Service</button>
                <button>Portfolio</button>
                <button>Contact Us</button>
            </div>
        </div>
        <div class="top-least">
            <div class="top-least-left">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci culpa dolor dolores ea ex libero maiores obcaecati odit omnis perferendis possimus quaerat quam quidem quisquam recusandae, tempora tempore vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum inventore itaque possimus. A aperiam debitis deleniti illo labore, nam necessitatibus neque nulla quaerat quia quidem recusandae reiciendis repudiandae soluta vel.</p>
                <button>Learn More</button>
            </div>
            <div class="top-least-right">
            <img src="../static/images/food-gd73fb18e6_640.jpg" alt="no image">
                </div>
        </div>
    </section>
    <section class="middle">
        <div class="middle-top-div">
        <h3>This is a Heading</h3>
            </div>
        <div class="middle-bottom-div">
            <div class="middle-card">
        <img src="../static/images/macarons-g53bf5d9fe_640.jpg" alt="no image">
        <h2>Aliquam et iaculis sapien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda cupiditate deserunt, et harum libero molestiae perferendis perspiciatis porro quo quos tempora. Illum incidunt totam vero? A accusantium numquam possimus.</p>
        <button type="button" class="btn btn-warning">Learn More</button>
                </div>
            <div class="middle-card">
        <img src="../static/images/macarons-g67709b62f_640.jpg" alt="no image">
        <h2>Aliquam et iaculis sapien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda cupiditate deserunt, et harum libero molestiae perferendis perspiciatis porro quo quos tempora. Illum incidunt totam vero? A accusantium numquam possimus.</p>
        <button type="button" class="btn btn-warning">Learn More</button>
                </div>
            <div class="middle-card">
        <img src="../static/images/spaghetti-g58b65637a_640.jpg" alt="no image">
        <h2>Aliquam et iaculis sapien</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda cupiditate deserunt, et harum libero molestiae perferendis perspiciatis porro quo quos tempora. Illum incidunt totam vero? A accusantium numquam possimus.</p>
        <button type="button" class="btn btn-warning">Learn More</button>
                </div>
            </div>
    </section>
    <section>
        <div class="bottom-top">
            <div class="bottom-top-left">
                <h3>Latest Posts</h3>
                <div class="image">
                    <h3>Alias ducimus possimus</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus possimus, ratione saepe similique tenetur. Assumenda beatae culpa dolore ducimus, earum eligendi, laborum laudantium modi, nobis pariatur repudiandae voluptates? Ratione.</p>
                    </div>
                <div class="image">

                <h3>Alias ducimus possimus</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus possimus, ratione saepe similique tenetur. Assumenda beatae culpa dolore ducimus, earum eligendi, laborum laudantium modi, nobis pariatur repudiandae voluptates? Ratione.</p>
                    </div>
                    <div class="image">
                <h3>Alias ducimus possimus</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus possimus, ratione saepe similique tenetur. Assumenda beatae culpa dolore ducimus, earum eligendi, laborum laudantium modi, nobis pariatur repudiandae voluptates? Ratione.</p>
                        </div>
            </div>
            <div class="bottom-top-middle">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ea nesciunt nulla officia possimus quaerat repudiandae, sunt? Doloremque enim modi mollitia, nostrum omnis quo veniam! Commodi, culpa iste! Ea, tempore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet expedita itaque libero quaerat, quo temporibus totam vel. A autem beatae cumque dolore eos, est, laborum molestiae totam vel voluptatibus voluptatum.</p>
            </div>
            <div class="bottom-top-right">
                <div class="heading">
                <h3>Stay Connected</h3>
                    </div>
                <div class="icon">
                <img src="../static/images/facebook.png" alt="no image">
                <h5>facebook</h5>
                    </div>
                <img src="" alt="">
            </div>
        </div>
        <div class="bottom-bottom">

        </div>
    </section>
</body>
</html>