<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--  Start of banner section-->
  <section class="banner-section">
    <div class="banner-container">
      <h1>ADMIRE MY HTML WEBSITE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae deleniti <br> dignissimos eveniet
        ex magni modi officia! Ab, accusantium aspernatur consequuntur, debitis ex <br> incidunt ipsum
        laboriosam maxime soluta  ullam unde vero?</p>
      <button class="btn-signup">Sign Up</button>
      <button class="btn-signin">Sign In</button>
    </div>
<!--    End of banner section-->
  </section>
<!--  Start of about section-->
  <section class="about-section">
    <div class="about-container">
      <div class="top-about-container">
        <h2>The best design you can get</h2>
        <h4>Professional</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid distinctio error est, id incidunt placeat quia tempora? Commodi culpa, doloribus esse inventore itaque nisi odit quisquam sint, sunt vero voluptatem!</p>
        <h4>Try It Now</h4>
        <button>Get started</button>
      </div>
      <div class="bottom-about-container">
        <div class="about-title-div">
          <h1>About our website</h1>
        </div>
        <div class="about-cards-div">
          <div class="card">
            <img src="../static/images/download.jpeg" alt="no image">
            <h2>Lovely</h2>
          </div>
          <div class="card">
            <img src="../static/images/download.jpeg" alt="no image">
            <h2>Amazing</h2>
          </div>
          <div class="card">
            <img src="../static/images/download.jpeg" alt="no image">
            <h2>Adorable</h2>
          </div>
          <div class="card">
            <img src="../static/images/download.jpeg" alt="no image">
            <h2>Classy</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  End of about section-->
<!--  Start of gallery section-->
  <section class="gallery-section">
    <div class="gallery-container">
      <div class="gallery-top-div">
        <img src="../static/images/images%20(1).jpeg" alt="no image">
        <img src="../static/images/images%20(2).jpeg" alt="no image">
        <img src="../static/images/images.jpeg" alt="no image">
        <img src="../static/images/download%20(1).jpeg" alt="no image">
        <img src="../static/images/download%20(2).jpeg" alt="no image">
        <img src="../static/images/img1.jpg" alt="no image">
      </div>
      <div class="gallery-bottom-div">
        <h3>Welcome to our website</h3>
        <button class="login">login</button>
      </div>
    </div>
    </section>
<!--  End of gallery section-->
  <section>
    <div></div>
  </section>
</body>
</html>