<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/styling.css">
</head>
<body>
    <h1>About eLearning</h1>
    <a href="index.html"></a><button class="a">Home</button>
    <a href="about.html"></a><button class="b">About</button>
    <a href="register.html"></a><button class="c">Register</button>
    <a href="login.html"></a><button class="d">Login</button>
    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Impedit minima, sint? Amet aspernatur dolorum ex excepturi
        facere labore non praesentium qui sunt totam. Consequatur dicta
        doloremque excepturi fuga impedit? Delectus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor eligendi
        explicabo ipsam molestiae odit voluptas! Ab accusantium aut et expedita laboriosam,
        nam natus odit omnis quo ratione sit veritatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate eligendi et,
        facere ipsa ipsam iure molestias nisi optio porro quae quas sit sunt. Cupiditate
        expedita impedit nihil recusandae voluptate.</p>
    <table class="first">
        <tr>
            <th>Subject</th>
            <th>Form</th>
            <th>Schedule</th>
        </tr>
        <tr>
            <td>Math</td>
            <td>1,2,3,4</td>
            <td>Mon-Wed;8:30am to 10:30am</td>
        </tr>
        <tr>
            <td>Eng</td>
            <td>1,2,3,4</td>
            <td>Mon-Wed;11am to 1pm</td>
        </tr>
        <tr>
            <td>Kisw</td>
            <td>1,2,3,4</td>
            <td>Mon-Wed;2:30pm to 4:30pm</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>2,3,4</td>
            <td>Mon-Wed;6:00pm to 8:00pm</td>
        </tr>

    </table>
</body>
</html>