<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styling.css">
</head>
<body>
    <h1>Welcome To eLearning</h1>
    <a href="index.html"><button class="a">Home</button></a>
    <a href="about.html"><button class="b">About</button></a>
    <a href="register.html"><button class="c">Register</button></a>
    <a href="login.html"><button class="d">Login</button></a>
    <hr>
    <h3 class="intro">eLearning</h3>
    <p class="intro-statement">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Adipisci enim eveniet hic nihil omnis perspiciatis quae. Dicta eaque et eveniet
        expedita facere laboriosam neque officiis quam, tempora, vel, voluptatem voluptates.</p>

    <h3>Users Comments</h3>
    <label class="zero">Justin:</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae blanditiis,
        consequuntur corporis culpa dolor dolore ea impedit laboriosam magni nesciunt officiis
        optio quidem, repellendus rerum tempore unde voluptatibus voluptatum.</p>
    <label class="one">Sarah:</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
        consequatur labore laudantium magnam numquam omnis praesentium quam quas qui quos
        repellat reprehenderit sint sit tempora tenetur vel voluptate? Enim, harum?</p>
    <label class="two">Emmanuel:</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deleniti dolores
        facilis iste necessitatibus provident. Aliquid aperiam consectetur distinctio dolorum
        est, exercitationem labore laboriosam nobis officia quam quas quidem repellendus.</p>

</body>
</html>