<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
  <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
  <h1>About eMobilis</h1>
  <a href="index.html"><button class="a">Home</button></a>
  <a href="about.html"><button class="b">About</button></a>
  <a href="gallery.html"><button class="a">Gallery</button></a>
  <a href="register.html"><button class="c">Register</button></a>
  <a href="login.html"><button class="b">Login</button></a>
  <hr>
  <p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate dolorem
    est neque obcaecati perferendis placeat, quod quos sed suscipit tenetur velit. Excepturi
    exercitationem in iure numquam recusandae sint tempore.</p>
  <h3 class="branches-ttl">Branches</h3>
  <ol class="branches-list">
    <li>Nairobi</li>
    <li>Nakuru</li>
    <li>Kisumu</li>
    <li>Mombasa</li>
    <li>Eldoret</li>
  </ol>
  <h3 class="partners-ttl">Partners</h3>
  <ul class="partners-list">
    <li>Safaricom PLC</li>
    <li>Google</li>
    <li>Microsoft</li>
    <li>Ministry of ICT</li>
    <li>KICD</li>

  </ul>
  <h3>Courses</h3>
  <table>
    <tr>
      <th>Course name</th>
      <th>Duration</th>
      <th>Amount</th>
    </tr>
    <tr>
      <td>Fullstack</td>
      <td>4 months</td>
      <td>ksh 90,000</td>
    </tr>
    <tr>
      <td>Python</td>
      <td>2 months</td>
      <td>ksh 25,000</td>
    </tr>
    <tr>
      <td>Cyber security</td>
      <td>2 months</td>
      <td>ksh 44,000</td>
    </tr>
    <tr>
      <td>Data science</td>
      <td>4 months</td>
      <td>ksh 60,000</td>
    </tr>
    <tr>
      <td>Android</td>
      <td>2 months</td>
      <td>ksh 25,000</td>
    </tr>
  </table>

</body>
</html>