<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>eMobilis Gallery</h1>
    <a href="index.html"><button class="a">Home</button></a>
    <a href="about.html"><button class="b">About</button></a>
    <a href="gallery.html"><button class="c">Gallery</button></a>
    <a href="register.html"><button class="b">Register</button></a>
    <a href="login.html"><button class="a">Login</button></a>
    <hr>
    <img class="z" src="../static/images/img1.jpg" alt="no image">
    <img class="v" src="../static/images/img2.jpg" alt="no image">
    <img class="z" src="../static/images/img3.jpg" alt="no image">
    <img class="w" src="../static/images/img4.jpg" alt="no image">
    <img class="v" src="../static/images/img5.jpg" alt="no image">
</body>
</html>
