<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
  <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
  <h1>Login To Emobilis</h1>
 <a href="index.html"><button class="a">Home</button></a>
  <a href="about.html"><button class="c">About</button></a>
  <a href="gallery.html"><button class="b">Gallery</button></a>
  <a href="register.html"><button class="a">Register</button></a>
  <a href="login.html"><button class="b">Login</button></a>
  <hr>
  <p>User Name</p><button>User Name</button>
  <p>Password</p><button>Password</button>

  <p class="one">Sign in through:</p>
  <button class="a">Google</button>
  <button class="b">Facebook</button>
  <button class="c">create account</button>



</body>
</html>