<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>eMobilis Registration</h1>
    <a href="index.html"><button class="a">Home</button></a>
    <a href="about.html"><button class="b">About</button></a>
    <a href="gallery.html"><button class="c">Gallery</button></a>
    <a href="register2.html"><button class="b">Register</button></a>
    <a href="login.html"><button class="a">Login</button></a>
    <hr>
    <form action="">
        <input type="text"><br><br>
        <input type="email"><br><br>
        <input type="date"><br><br>
        <input type="tel"><br><br>
        <input type="radio">Male
        <input type="radio">Female
        <input type="radio">Other<br><br>
        <input type="password"><br><br>
        <input value="Register" type="submit">
    </form>
</body>
</html>