<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>eMobilis Registration</h1>
    <a href="index.html"><button class="c">Home</button></a>
    <a href="about.html"><button class="a">About</button></a>
    <a href="gallery.html"><button class="b">Gallery</button></a>
    <a href="register.html"><button class="a">Register</button></a>
    <a href="login.html"><button class="c">Login</button></a>
    <hr>
    <h3>Administration Office</h3>
    <p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deleniti
        dolorum, ducimus eaque eius eum hic incidunt iste modi nisi nulla porro provident
        quaerat quasi rerum suscipit voluptatem voluptates voluptatibus.</p>
    <form class="reg-form" action="">
        <input class="reg-input" placeholder="name" type="text"><br><br>
        <input class="reg-input" placeholder="email" type="email"><br><br>
        <label class="reg-label" >D.O.B:</label><br>
        <input class="reg-input" type="date"><br><br>
        <input class="reg-input" placeholder="phone" type="tel"><br><br>
        <label class="reg-label" >Gender:</label><br>
        <input name="gender" type="radio">Male
        <input name="gender" type="radio">Female
        <input name="gender" type="radio">Other<br><br>
        <input class="reg-input" placeholder="password" type="password"><br><br>
        <input class="reg-submit" value="Register" type="submit">
    </form>




</body>
</html>